<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missions to Mars</title>
    <!--  Bring in Bootsrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
    <div class="container">

        <!-- Jumbotron -->
        <div class="jumbotron text-center">
          <h1 class="font-weight-bold">Mission to Mars</h1>
          <a class="btn btn-primary" href="/scrape" role="button">Scrape New
            Data</a>
        </div>
    
        <!---News scraping, one container all-->
        <div class="container">
          <h4 class="font-weight-bold">Latest Mars News</h4>
          <h5 class="font-weight-bold">{{ data.news_title }}</h5>
          <p>{{ data.news_p }}</p>
        </div>
    
        <!---Featured Image And Mars Facts row-->
        <div class="container">
          <div class='row'>
                <!-- Left side-->
                <div class="col-lg-8 col-md-8 col-sm-6 col-xm-12">
                  <h4 class="font-weight-bold">Featured Mars Image</h4>
                  <img src="{{ data.image_url_feature }}" style="max-width:100%;" alt="mars image">
                </div>
                <!-- Right side html table-->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xm-12">
                    <h5 class="font-weight-bold">Mars Facts</h5>
                    <table>{{ data.tables|safe }}</table>
                </div>
    
            </div>  <!--- End of row -->
        </div>   <!--- End of container-->
    </div> <!--- End of container-->
      
    
     <!---HEMISPHERES row -->
    <div class="container">
      <div class="col-xs-12">
        <h4 class="font-weight-bold" style="text-align: center">Mars Hemispheres</h4>
        <hr>
        <div class="row">
          {% for indx in data.hemisphere_image_urls %}
           <div class="col col-3">    
            <div class="card " style="margin: 0.3em;">
                  <img class="card-img-top" style="padding:0.625rem" src="{{ indx.img_url }}" alt="Hemishere image">
                  <div class="card-body">
                    <h5 class="card-title" class="font-weight-bold">{{ indx.title }}</h5>
                  </div>
            </div> <!-- End of card -->
          </div>  <!-- End of card 3 col -->
          {% endfor %} 
        </div> <!-- End of row -->
      </div> <!-- End of col 12 -->
    </div> <!-- End of container -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>